<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>zzyb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<!--Servlet 给取一个名字 -->
		<servlet-name>myfirstServlet</servlet-name>
		<!--指定java 类文件 -->
		<servlet-class>com.stx.zzyb.MyFirstServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>myfirstServlet</servlet-name>
		<url-pattern>/myFirstServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>com.stx.zzyb.HelloWorld</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>
</web-app>

